version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: shortener_db
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  api:
    volumes:
      - .:/app
    build: ./backend
    container_name: fastapi_app
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app:/app/backend
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: shortener_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - api